@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef7ff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #FEF7FF;
    --foreground: #ededed;
  }
} */

@layer utilities {
  .font-roboto-only {
    font-family: var(--font-roboto), sans-serif;
  }
}

body {
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
}
