@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fef7ff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #FEF7FF;
    --foreground: #ededed;
  }
} */

@layer utilities {
  .font-roboto-only {
    font-family: var(--font-roboto), sans-serif;
  }
}

.nav-main-section {
  height: calc(100vh - 70px - 2rem);
}

body {
  margin: 0;
  display: grid;
  color: var(--foreground);
  grid-template-rows: auto 1fr;
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
}

/* Ensure the scrollbar does not take up extra space */
.scroll-container {
  overflow: overlay;
}

/* WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cac4d0;
  transition: opacity 0.3s ease-in-out;
}

/* Firefox */
.scroll-container {
  scrollbar-width: thin;
  scrollbar-color: #cac4d0 transparent;
}

.no-scrollbar {
  overflow: auto; /* Allows scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Edge & IE */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}